@charset "ISO-8859-1";

/*footer styles start*/
footer {
	position: relative;
	bottom: 8%;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	cursor: pointer;
	z-index: 20;
}

.footer {
	background-color: #08041e;
	color: white;
	width: 1505px;
	height: 400px;
	margin-top: -5.5%;
	z-index: -2;
}

.footerlogo {
	width: 300px;
	height: 100px;
	position: relative;
	top: 70px;
	margin-left: 70px;
	cursor: pointer;
}

.footerletters {
	width: 300px;
	height: 250px;
	margin-top: 100px;
	margin-left: 100px;
	cursor: pointer;
	opacity: 0.8;
}

.footerpagelink3and4flex, .footerpagelink1and2flex,
	.footerpagelink2and3flex {
	display: flex;
}

.footerpagelink3and4flex, .footerpagelink1and2flex {
	margin-left: 50px;
}
/* socialmedia icon start*/
.fa {
	padding: 10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 1;
}

.fa-facebook {
	background-color: black;
	color: white;
	border-radius: 50%;
}

.fa-facebook:hover {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background-color: black;
	color: white;
	border-radius: 50%;
}

.fa-twitter:hover {
	background: #55ACEE;
	color: white;
}

.fa-linkedin {
	background-color: black;
	color: white;
	border-radius: 50%;
}

.fa-linkedin:hover {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background-color: black;
	color: white;
	border-radius: 50%;
}

.fa-youtube:hover {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background-color: black;
	color: white;
	border-radius: 50%;
}

.fa-instagram:hover {
	background: hotpink;
	color: white;
}

/* socialmedia icon end*/
.footercontainer {
	display: flex;
}

.footerpagelinks1, .footerpagelinks2, .footerpagelinks3,
	.footerpagelinks4 {
	margin-left: 60px;
}

.footerpagelinks4 {
	margin-left: 80px;
}

.footerlinkdiv {
	margin-top: 50px;
	font-size: 15px;
}

.newsletter {
	margin-top: 50px;
	margin-left: 10px;
}

.footeremail {
	width: 200px;
	height: 10px;
	padding: 15px;
	border-radius: 5px;
	margin-right: 5px;
}

.footeremail.active {
	border: 5px #0069D9;
}

.footerpagelinks1 {
	text-align: center;
}

.submitbtn {
	width: 100px;
	height: 50px;
	padding: 15px;
	border-radius: 5px;
	background-color: #0069D9;
	color: white;
	transition: all 0.3s ease-in-out;
	margin-right: 5px;
}

.submitbtn:active {
	transform: scale(0.9);
}

.info {
	display: flex;
	justify-content: flex-start;
	position: relative;
	right: 320px;
	bottom: 90px;
}

.faq, .riskwarning {
	color: white;
}

.privacypolicy {
	margin-left: 5px;
	color: white;
	text-decoration: none;
	position: relative;
	bottom: 3px;
}

.faq:hover, .privacypolicy:hover, .riskwarning:hover {
	color: dodgerblue;
}

.footerlink1 {
	color: white;
	text-decoration: none;
}

.footerlink1:hover {
	color: rgb(42, 137, 233);
}

.copyrightpara {
	background-color: #0069D9;
	color: white;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding: 10px;
	position: relative;
}

.copyrights {
	width: 100%;
	height: 0px;
	background-color: #0069D9;
}

/*footer styles end*/
@media all and (max-width: 600px) {
	/*footer styles start*/
	body {
		height: 4000px;
	}
	footer {
		position: relative;
		top: 0px;
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
		cursor: pointer;
	}
	.footheading {
		margin-top: 15%;
	}
	.footer {
		background-color: #08041e;
		color: white;
		width: 390px;
		height: 100%;
		margin-top: 30%;
	}
	.footerlogo {
		width: 280px;
		height: 100px;
		margin-top: -30px;
		margin-left: 30px;
		cursor: pointer;
	}
	.footerlogodiv {
		background-color: #08041e;
		color: white;
		width: 390px;
		overflow: hidden;
	}
	.footerletters {
		width: 280px;
		height: 250px;
		margin-top: 100px;
		margin-left: 30px;
		cursor: pointer;
		opacity: 0.8;
	}
	.footerpagelink3and4flex, .footerpagelink1and2flex,
		.footerpagelink2and3flex {
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
		position: relative;
		left: -50px;
	}
	/* socialmedia icon start*/
	.fa {
		padding: 10px;
		font-size: 30px;
		width: 20px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
		position: relative;
		right: 0px;
	}
	.fa:hover {
		opacity: 1;
	}
	.fa-facebook {
		background-color: black;
		color: white;
		border-radius: 50%;
	}
	.fa-facebook:hover {
		background: #3B5998;
		color: white;
	}
	.fa-twitter {
		background-color: black;
		color: white;
		border-radius: 50%;
	}
	.fa-twitter:hover {
		background: #55ACEE;
		color: white;
	}
	.fa-linkedin {
		background-color: black;
		color: white;
		border-radius: 50%;
	}
	.fa-linkedin:hover {
		background: #007bb5;
		color: white;
	}
	.fa-youtube {
		background-color: black;
		color: white;
		border-radius: 50%;
	}
	.fa-youtube:hover {
		background: #bb0000;
		color: white;
	}
	.fa-instagram {
		background-color: black;
		color: white;
		border-radius: 50%;
	}
	.fa-instagram:hover {
		background: hotpink;
		color: white;
	}

	/* socialmedia icon end*/
	.footercontainer {
		display: block;
	}
	.footerpagelinks1, .footerpagelinks2, .footerpagelinks3,
		.footerpagelinks4 {
		margin-left: 60px;
		position: relative;
		bottom: 200px;
	}
	.footerlinkdiv {
		margin-top: 10px;
		font-size: 15px;
	}
	.footerpagelinks4 {
		position: relative;
		bottom: 120px;
	}
	.footerpagelinks1 {
		margin-right: 250px;
	}
	.info {
		display: block;
		position: relative;
		left: 30px;
		bottom: 70px;
		margin-right: 100px;
	}
	.privacypolicy {
		margin-left: 20px;
	}
	.faq, .privacypolicy, .riskwarning {
		color: white;
		opacity: 0.9;
	}
	.faq:hover, .privacypolicy:hover, .riskwarning:hover {
		opacity: 1;
	}
	.footerlink1 {
		color: white;
	}
	.footerlink1:hover {
		color: #0094ff;
		border-bottom: 2px solid #55ACEE;
	}
	.copyrightpara {
		background-color: #0069D9;
		color: white;
		font-size: 18px;
		font-weight: 300;
		font-family: 'Poppins', sans-serif;
		text-align: center;
		padding: 10px;
		position: relative;
		bottom: 40px;
	}

	/*footer styles end*/
}